!!!
%html{lang: "en"}
  %head
    %title Install Page
  %body
    .container
      %h2 Install the application
      = form_tag('/login', method: :get) do
        .form-group
          = label_tag :shop, 'Type your shop name:'
          = text_field_tag :shop, nil, placeholder:  'blabla.myshopify.com', class: 'form-control'
        .form-group
          = submit_tag 'Install', class: 'btn btn-default'