!!!
%html{lang: "en"}
  %head
    %title Install Page
  %body
    %h2 Install the application
    %form{action: "login", method: "GET"}
      %label Type shop name:
      %input{name: "shop", placeholder: "blabla.myshopify.com", type: "text"}/
      %button{type: "submit"}
        Install