:coffeescript
  window.mainPageTitle = 'Chatbox Widget'

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      breadcrumb:
          label: 'Preferences'
          href: "#{preferences_path}"
          target: 'app'
      buttons:
        secondary:
          label: 'Back'
          href: "#{preferences_path}"
          target: 'app'
    ShopifyApp.Bar.loadingOff()

.panel
  .panel-body
    .row
      .pull-right.pad-right
        %a.btn.btn-success{href: new_widget_path}
          %i.fa.fa-plus-circle
          Add New Widget
    .row
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th Widget name
            %th{style: 'width: 5%; text-alain: center;'}
            %th{style: 'width: 5%; text-alain: center;'}
            %th{style: 'width: 5%; text-alain: center;'}
        %tbody
        - @widgets.each do |widget|
          %tr
            %td= widget.id
            %td= widget.name
            %td
              %a.btn.btn-sm.btn-default{href: edit_widget_path(widget)}
                %i.fa.fa-edit
            %td
              %a.btn.btn-sm.btn-primary{href: '#'}
                %i.fa.fa-lock
            %td
              %a.btn.btn-sm.btn-danger{href: widget_path(widget), 'data-confirm': 'Are you sure?', 'rel': 'nofollow', 'data-method': 'delete'}
                %i.fa.fa-times-circle-o