:coffeescript
  window.mainPageTitle = 'Kandy Setup'

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      buttons:
        primary:
          label: 'Send'
          message: 'save-preferences-form-message'
    ShopifyApp.Bar.loadingOff()

= form_tag installed_path, method: :post, 'data-shopify-app-submit': 'save-preferences-form-message' do
  = hidden_field_tag :shop, @shop_session.url
  .row
    .col-sm-3
      %h5 Admin account
      %span.help-block
        Please enter your admin email. We'll send you a email with an invitation to register first admin account.
    .col-sm-9.panel
      .panel-body
        .form-group
          = label_tag :email, 'Email'
          %abbr{title: 'required'} *
          = email_field_tag :email, '', autofocus: true,  class: 'form-control input-sm'