# This is a manifest file that'll be compiled into application.js, which will include all the files
# listed below.
#
# Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
# or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
#
# It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
# compiled file.
#
# Read Sprockets README (https:#github.com/sstephenson/sprockets#sprockets-directives) for details
# about supported directives.
#
#= require jquery
#= require jquery.serialize-object
#= require jquery_ujs
#= require bootstrap-sprockets
#= require spectrum
#= require select2
#= require sweetalert.min
#= require kandy.min.js

window.displayLoadingOverlay = ->
  $('#loader-wrapper').remove()
  $('body').removeClass('loaded')
  $('body').prepend '''
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  '''

window.removeLoadingOverlay = ->
  $('body').addClass('loaded')

window.newModal = (path, title) ->
  ShopifyApp.Modal.open
    src: path
    title: title
    height: 400
    width: 'small'
    buttons:
      secondary:
        label: 'Close'
        callback: ->
          ShopifyApp.Modal.close()

window.setUrlParameter = (url, paramName, paramValue) ->
  if url.indexOf(paramName + "=") >= 0
    prefix = url.substring(0, url.indexOf(paramName))
    suffix = url.substring(url.indexOf(paramName))
    suffix = suffix.substring(suffix.indexOf("=") + 1)
    suffix = if suffix.indexOf("&") >= 0 then suffix.substring(suffix.indexOf("&")) else ""
    url = prefix + paramName + "=" + paramValue + suffix
  else
    if url.indexOf("?") < 0
      url += "?" + paramName + "=" + paramValue
    else
      url += "&" + paramName + "=" + paramValue
  return url

window.shopGmap = (id, location) ->
  unless id
    return
  else unless location || location.latitude || location.longitude
    location =
        latitude: 0
        longitude: 0
  handler = Gmaps.build('Google')
  handler.buildMap
    internal:
      id: id
    ->
      marker = handler.addMarker
        lat: location.latitude
        lng: location.longitude
      handler.map.centerOn(marker)

$(document).ready ->
  $('.select2').select2
    minimumResultsForSearch: Infinity
    theme: 'bootstrap'